
<span class="section__title">{{ .Title | default "Projects" }}</span>
<div class="portfolio__content">
    {{ range first 1 (where .Data.Pages "Params.featured" "==" true) }}
		<br>
        <section class="portfolio__featured-project">
            <div class="section-inner">
                <div class="portfolio_content">
                    <div class="item featured text-center">
						<div class="featured-card">
						    <br>
							<span class="project__title">
								<a href="{{ .Params.Link }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a>
							</span>
							<!-- <br><br> -->
							<p class="project__subtitle-big">
								<sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
								{{ .Params.description }}
								<sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
							</p>
							<div class="project__featured-image">
								<img src="{{ .Params.screenshot }}"  alt="{{ .Title }}">
							</div>
							<div class="project__summary">
								<div class="featured-container">
										{{ .Content }}
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
    <section>
        <div class="portfolio_content">
            <!-- <hr class="divider"> --><br>
            {{ range (where .Data.Pages "Params.featured" "!=" true).ByDate.Reverse }}
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12" href="{{ .Params.link }}"
                    target="_blank" rel="noopener noreferrer">
                    <img class="project__image img-responsive" src="{{ .Params.screenshot }}" alt="{{ .Title }}">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <span class="project__title">
                        <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a>
                    </span>
                    <span class="project__subtitle-small">
                        <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
                        {{ .Params.description }}
                        <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
                    </span>
                    <span class="project__summary">
                        {{ .Content }}
                    </span>
                </div>
            </div>
            <div class="row-space">&nbsp;</div>
            {{ end }}
        </div>
    </section>
</div>

<div style="position: relative; left:50%;">

    <div class="more">
        <img onclick="openLink();" src="/img/more.png" alt="Card Back">
        <img onclick="openLink();" src="/img/more_blue.png" class="img-top" alt="Card Front">
    </div>

</div>

<!-- <div class="card"> -->
  <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
  <!-- <div class="container"> -->
    <!-- <h4><b>John Doe</b></h4>  -->
    <!-- <p>Architect & Engineer</p>  -->
  <!-- </div> -->
<!-- </div> -->


<!-- more按钮的css -->
<style type="text/css">
    .more {
        width: 45%;
        position: relative;
        display: inline-block;
    }
    .more .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .more:hover .img-top {
        display: inline;
    }
</style>

<!-- 卡片效果的css -->
<style>
.featured-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
}

.featured-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.featured-container {
  padding: 2px 16px;
}
</style>

<script>
function openLink() {
  window.open("/projects/","_self");
}
</script>