<head>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    {{ if .Params.canonicalUrl }}
    <link rel="canonical" href="{{ .Params.canonicalUrl }}">
    {{ else }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ end }}
    {{ partial "header/meta.html" . }}
    {{ partial "header/styles.html" . }}
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#202020">
    {{ partial "header/feeds.html" . }}
    {{ partial "header/custom.html" }}
</head>
